---
layout: blog
title: Blog
---
<!--<h1>Latest Posts</h1>
<div class="row" data-masonry='{"percentPosition": true }'>
  {% for post in site.posts %}
  <div class="col-sm-6 col-lg-4 mb-4">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
        <p class="card-text">{{ post.excerpt }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>-->

{% for post in site.posts %}
<article class="blog-post">
  <h2 class="blog-post-title mb-1"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="blog-post-meta">January 1, 2021 by {{post.author}}</p>
  {{ post.excerpt }}
</article>
{% endfor %}