<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#31fcab" aria-label="Dark offcanvas navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Mike Sheehy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-white bg-dark" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Offcanvas</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a {% if page.url == item.link %}class="nav-link active"{% else %}class="nav-link"{% endif %} aria-current="page" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDarkDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="offcanvasNavbarDarkDropdown">
                <li><a class="dropdown-item" href="#">API</a></li>
                <li><a class="dropdown-item" href="aws.html">AWS</a></li>
                <li><a class="dropdown-item" href="#">Front-End</a></li>
                <li><a class="dropdown-item" href="#">Java</a></li>
                <li><a class="dropdown-item" href="#">Back-End</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>