<nav class="navbar navbar-expand-lg navbar-light py-1 mb-2" aria-label="Dark offcanvas navbar">
    <div class="container">
      <a class="navbar-brand" href="/">Mike Sheehy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarDark" aria-controls="offcanvasNavbarDark">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbarDark" aria-labelledby="offcanvasNavbarDarkLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarDarkLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1">
            {% for item in site.data.navigation %}
            <li class="nav-item">
                <a {% if page.url == item.link %}class="nav-link active"{% else %}class="nav-link"{% endif %} aria-current="page" href="{{ item.link }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </nav>