.current {
    color: green;
  }

  /*.navbar{
    background-color: #31fcab;
  }*/

  .highlight{
    background-color: aliceblue;
  }

  .hero-image{
    background-image: url(https://pbs.twimg.com/list_banner_img/1562075351211249664/gOmRrYC6?format=jpg&name=large);
    background-position: right;
  }

  $primary: #31fcab;
  $danger: #ff4136;